<template>
  <div class="user">
    <div class="user-info">
      <span class="user-info__label">id</span>
      <span class="user-info__text">{{ id }}</span>
    </div>

    <div class="user-info">
      <span class="user-info__label">email</span>
      <span class="user-info__text">{{ email }}</span>
    </div>

    <div class="user-info">
      <span class="user-info__label">name</span>
      <span class="user-info__text">{{ name }}</span>
    </div>

    <div class="user-info">
      <span class="user-info__label">tel</span>
      <span class="user-info__text">{{ tel }}</span>
    </div>
  </div>
</template>

<script setup>
import { defineProps } from "vue";

defineProps(["id", "email", "name", "tel", "created_at", "updated_at"]);
</script>

<style scoped>
.user {
  padding: 1em 2em;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 19px;

  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info__label {
  color: #373737;
  font-size: 13px;
  font-weight: 600;
}
</style>
