<script setup>
import { onMounted, ref } from "vue";
import UserCard from "./components/UserCard.vue";

const users = ref([]);
const getUsers = async () => {
  const request = await fetch("http://127.0.0.1:8000/api/user");

  if (!request.ok) {
    return;
  }

  users.value = await request.json();
};

onMounted(() => {
  getUsers();
});
</script>

<template>
  <h1>Users</h1>
  <main>
    <UserCard v-for="(user, index) in users" :key="index" v-bind="user" />
  </main>
</template>

<style scoped>
main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}
</style>
